body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    background-image: url('../이미지.jpg'); /* Add the path to your background image */
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat;
    background-color: #f4f4f4; /* Fallback color if the image is not available */
}

header {
    /* background-color: #333; */
    color: black;
    text-align: center;
    padding: 20px;
}

main {
    height: 400px;
    width: 350px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #000;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

button:hover {
    background-color: #555;
}

.back-btn {
    background-color: #4CAF50;
}

.back-btn:hover {
    background-color: #45a049;
}
.sotong{
    text-align: center; /* Center text horizontally */
    margin-left: auto;
    margin-right: auto;
}