body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../이미지.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-color: #f4f4f4; 
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    border: 2px solid #000;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* button {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
} */
.check-duplicate-btn {
    background-color: #9f9f9f;
    color: #ffffff;
    padding: 5px 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    
}

.check-duplicate-btn:hover {
    background-color: rgb(180, 180, 180);
}

.register-btn {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px; /* 가입하기 버튼과의 간격 조절 */
}

.register-btn:hover {
    background-color: #4b4b4b;
}
